.container {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.label {
	color: #4E8CBE;
	font-size: 14px;
	font-weight: 600;
	margin-right: 10px;
}

.value {
	border: 1px dashed #A0BFDF;
	padding: 0px 14px 0px 16px;
	border-radius: 8px;
	height: 48px;
}

.value.has_data {
	background: #F1F8FF;
}

.value.xs {
	width: 134px;
}

.value.s {
	width: 245px;
}

.value.m {
	width: 300px;
}

.value.l {
	width: 523px;
}