.root {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
  border-radius: 16px;
  background: var(--bg-primary);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inputMarginButton {
  margin-bottom: 10px;
}

.inputWidthLabel {
  width: 150px;
}

.inputWidth {
  width: 245px;
  flex-shrink: 0;
}

.inputWidthSmall {
  width: 102px;
}

.original {
  color: var(--font-color);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100px;
  margin-left: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--font-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header::after {
  content: '';
  width: 100%;
  height: 1px;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--font-color);
}

.footer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.footer::before {
  content: '';
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-color: var(--font-color);
  padding-bottom: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
