.root {
  width: 100%;
  display: flex;
  padding: 34px 76px;
  flex-direction: column;
}

.manualCheck {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: var(--input-border-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-items: center;
  flex-direction: column;
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-color: var(--input-border-color);
  margin-top: 34px;
  padding-top: 10px;
  cursor: pointer;
}

.manualCheck::after {
  content: '';
  width: 24px;
  height: 24px;
  background: url('./img/arrowDown.svg') no-repeat center;
  transition: transform 0.5s;
  transform: rotate(0);
}

.manualCheckVisible::after {
  transform: rotate(180deg);
}
