.root {
  width: 100%;
  height: 191px;
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
  padding: 0 76px 24px 76px;
  justify-content: center;
}

.title {
  color: var(--font-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-right: 24px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row:first-child {
  margin-bottom: 16px;
}

.col {
  display: flex;
  align-items: center;

  width: 50%;
}

.inputMargin {
  margin-right: 10px;
}

.noticeMargin {
  margin-right: 8px;
}

.inputWidth {
  width: 134px;
}

.notice {
  width: min-content;
}

.error {
  width: auto;
}

.widthLabel {
  width: 113px;
}
