.root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  position: relative;
  height: 48px;

  text-align: center;

  color: var(--font-color-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

th {
  background: var(--bg-primary);
}

tbody tr:nth-child(even) {
  background: var(--bg-secondary);
}

tbody tr {
  height: 36px;
}

tbody td {
  /* padding: 0 10px; */
  color: var(--font-color-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

tbody tr td:nth-child(1) {
  text-align: center;
}

tbody tr td:nth-child(3) {
  text-align: center;
}

tbody tr td:nth-child(4) {
  text-align: center;
}

thead th {
  padding: 0 10px;
}

th:not(:last-child),
td:not(:last-child) {
  border-bottom: 1px dashed var(--input-border-color);
  border-right: 1px dashed var(--input-border-color);
}

thead th:not(:last-child) {
  border-bottom: 1px solid var(--input-border-color);
}

td {
  position: relative;
}

th:nth-last-child(2) {
  border-right: 0;
}

th:nth-child(7) {
  width: 400px;
}

th:nth-last-child(4),
th:nth-last-child(5),
th:nth-last-child(6) {
  width: 300px;
}

tbody {
  text-align: left;
}

.tableBody {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tableCol {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tableCol:not(:last-child) {
  border-right: 1px dashed var(--input-border-color);
}

.buttonAddRow {
  width: 24px;
  height: 24px;

  background: url('./img/add.svg');
  border: 0;
  cursor: pointer;
  z-index: 10;
}

th:last-child {
  background: transparent;
}

.subjects {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.selectMarginBottom {
  margin-bottom: 20px;
}
