.root {
  margin-top: 20px;
}

.table tbody tr td:nth-child(1) {
  text-align: center;
}

.table tbody tr td:nth-child(3) {
  text-align: center;
}

.table tbody tr td:nth-child(4) {
  text-align: center;
}

.table td {
  padding: 0;
}

.table td:last-child {
  padding: 0 10px;
}

.table td:last-child,
.table th:last-child {
  background: white;
}

.table td:last-child,
.table th:last-child {
  border-bottom: 0;
}

.table td:nth-last-child(2),
.table th:nth-last-child(2) {
  border-right: 0;
}

/* первые 6 колонок */

.table th:nth-child(1) {
  width: 20px;
}
.table th:nth-child(2) {
  width: 200px;
}
.table th:nth-child(3) {
  width: 300px;
}
.table th:nth-child(4) {
  width: 300px;
}
.table th:nth-child(5) {
  width: 400px;
}
.table th:nth-child(6) {
  width: 400px;
}

/* 5 колонок селкеторов */

.table th:nth-child(7) {
  width: auto;
}
.table th:nth-child(8) {
  width: 400px;
}
.table th:nth-child(9) {
  width: 400px;
}
.table th:nth-child(10) {
  width: 400px;
}
.table th:nth-child(11) {
  width: 400px;
}

/* последние 2 колоноки */

.table th:nth-last-child(1) {
  width: 400px;
}
.table th:nth-last-child(2) {
  width: 400px;
}

.table th {
  width: auto !important;
}

.buttonAddRow {
  width: 24px;
  height: 24px;
  background: url('./img/add.svg');
  border: 0;
  cursor: pointer;
  z-index: 10;
}
