/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

:root {
  --bg-primary: #ebf5ff;
  --bg-secondary: #f1f8ff;
  --notice-bg-available: #caffdb;
  --notice-bg-waiting: #fffce2;
  --notice-bg-unavailable: #ffdfdf;
  --notice-bg-failed: #ffdfdf;
  --notice-header-bg-available: #007f51;
  --notice-header-bg-waiting: #e4a400;
  --notice-header-bg-unavailable: #eb5757;
  --notice-header-bg-failed: #eb5757;
  --button-bg: #4e8cbe;
  --button-bg-disabled: #858585;
  --input-bg-disabled: #f1f8ff;
  --input-bg: white;
  --input-border-color: #a0bfdf;
  --font-color: #4e8cbe;
  --font-color-white: white;
  --font-color-black: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  height: 48px;
  text-align: center;
  color: var(--font-color-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

thead th {
  padding: 0 10px;
  background: var(--bg-primary);
}

tbody {
  text-align: left;
}

tbody tr {
  height: 36px;
}

tbody td {
  color: var(--font-color-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px dashed var(--input-border-color);
}

th,
td {
  padding: 0 10px;
  border-bottom: 1px dashed var(--input-border-color);
}

th {
  border-bottom: 1px solid var(--input-border-color);
}

tbody tr:nth-child(even) {
  background: var(--bg-secondary);
}
